.text-input {
	text_input_background_color: #2B2B2B;
	background_hover_color: #2B2B2B;
	background_focused_color: #2B2B2B;
	text_focused_color: #FFFFFF;
}

.hyperlink.text-color {
	-fx-text-fill: white;
}