@font-face {
	font-family: "DejaVu Sans";
	font-weight: bold;
	font-style: italic, oblique;
	src: url("/fonts/DejaVuSans-BoldOblique.ttf") format("truetype");
}

@font-face {
	font-family: "DejaVu Sans";
	font-style: italic, oblique;
	src: url("/fonts/DejaVuSans-Oblique.ttf") format("truetype");
}

@font-face {
	font-family: "DejaVu Sans";
	font-weight: bold;
	src: url("/fonts/DejaVuSans-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "DejaVu Sans";
	src: url("/fonts/DejaVuSans.ttf") format("truetype");
}

.root {
	/* TODO use system's default size */
	-fx-font: 13px "DejaVu Sans";
}