.section {
	-fx-padding: 1em 3em 1em 3em;
}

.sectionTitle {
	-fx-font-size: 14px;
	-fx-font-weight: BOLD;
}

#send {
	-fx-background-radius: 4 0 0 4;
	-fx-border-radius: 4 0 0 4;
}

#addOutput {
	-fx-background-radius: 0 4 4 0;
	-fx-border-radius: 0 4 4 0;
	-fx-border-width: 1px 1px 1px 0;
	-fx-padding: 3.4px 6.4px 3.4px 6.4px;
}

#addOutput:hover {
	-fx-border-width: 0;
	-fx-padding: 4px 7px 4px 6px;
}

.tab-pane.hide-header {
	-fx-tab-max-height: 0;
}

.tab-pane.hide-header .tab-header-area {
	visibility: hidden;
	-fx-focus-traversable: false;
}