.tx-cell {
	-fx-background-radius: 5px;
	-fx-padding: 4px 2px 4px 2px;

	-fx-border-radius: 5px;
	-fx-border-width: 0.25px;
	-fx-border-color: linear-gradient(to bottom right, white, rgb(20, 20, 20));
}

.green {
	-fx-background-color: linear-gradient(to bottom right, rgba(148, 255, 185, 0.3), rgba(0, 183, 51, 0.3));
}

.red {
	-fx-background-color: linear-gradient(to bottom right, rgba(255, 134, 134, 0.3), rgba(233, 1, 1, 0.3));
}

.arrow-button {
	-fx-max-height: 0.78;
	-fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
	-fx-padding: 0.0em 0.583em 0.0em 0.0em; /* 0 7 0 0 */
}

.arrow-button > .arrow {
	arrow_color: white;
	-fx-effect: null;
	-fx-background-color: arrow_color;
	-fx-background-insets: 0, 0;
	-fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
	-fx-shape: "M 4.21875 10.78125 L 2.78125 12.21875 L 15.28125 24.71875 L 16 25.40625 L 16.71875 24.71875 L 29.21875 12.21875 L 27.78125 10.78125 L 16 22.5625 Z";
}